/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.03em;
}
img {
  display: block;
}
a {
  color: #333;
  text-decoration: none;
}
input {
  font-family: 'Noto Sans KR', sans-serif;
  color: #666;
}
.inner {
  width: 1200px;
  margin: 0px auto;
  position: relative;
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}
.btn.btn--gold {
  color: #d9aa8a;
  border-color: #d9aa8a;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #d9aa8a;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #fff;
}
.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);  
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: .3s;  
}
.show .back-to-position.delay-2 {
  transition-delay: .6s;  
}
.show .back-to-position.delay-3 {
  transition-delay: .9s;  
}

/* HEADER */
header {
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
header > .desktopGnb > .inner {
  height: 110px;
  transition: height 0.3s;
}
header.header-fix > .desktopGnb > .inner {
  height: 53px;
}
header .logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 12px 0;
  transition: opacity 0.3s;
  opacity: 1;
  background-image: url('../images/starrocks_logo.png');
  background-repeat: no-repeat;
  background-size: 100px;
  text-indent: -1000em;
}
header .desktopGnb {
  position: relative;
  width: 1200px;
  margin: auto;
}
header.header-fix .desktopGnb .logo {
  display: none;
}
header .mobileGnb {
  display: none;
}
/* SUBMENU */
header .sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 53px;
  align-items: center;
}
header .sub-menu ul.menu {
  display: flex;
  transition: opacity .3s;
}
header .sub-menu ul.menu.hidden {
  opacity: 0;
}
header .sub-menu ul.menu li {
  position: relative;  
}
header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 14px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #4169e1;
  text-decoration: underline;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
  margin-top: 3px;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none; 
  background-color: #fff;
  font-size: 13px;
  transition: width .4s;
}
header .sub-menu .search:hover input {
  border-color: #669900;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  width: 21px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7px;
  margin: auto;
  border: 0;
  background-color: #fff;
  color: #669900;
  opacity: 1;
  transition: opacity .4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 53px;
}
header .main-menu-mobile {
  display: none;
}
header.header-fix .main-menu {
  left: 0;
}
header .main-menu .item {
}
header .main-menu .item .item__name {
  padding: 12px 20px 12px 20px;
  font-size: 14px;
  transition: color .2s;
}
header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 24px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul {
  
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li,
header .main-menu .item .item__contents .contents__menu > ul > li ul li a {
  padding: 4px 0;
  font-size: 13px;
  color: #999;
  cursor: pointer;  
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover,
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover a {
  color: #669900;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 15px;
  background-image: url("../images/main_menu_pattern.jpg");
  background-repeat: repeat;
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}
/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content:"";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;
}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a {
  font-size: 15px;
  color: #ccc;
  font-weight: 400;
  padding: 15px;
  display: block;
}
footer .menu li a:hover {
  color: #4169e1;
  text-decoration: underline;
}
footer .menu li a.green {
  color: #669900
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
}
footer .btn-group .btn {
  font-size: 15px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0px;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 13px;
}
footer .info span:last-child {
  margin-right: 0px;
}
footer .copyright {
  color: #999;
  font-size: 15px;
  text-align: center;
  margin-top: 12px;
}
footer .copyright .this-year {
  margin-right: 3px;
}
footer .logo {
  margin: 30px auto 0;
}
@media (max-width: 1220px) {
  .inner {
    width: 100%;
  }
  header.header-fix .sub-menu {
    display: none;
  }
  header .desktopGnb {
    width: 100%;
  }
  header > .desktopGnb > .inner {
    width: 100%;
  }
  header.header-fix .main-menu {
    width: 100%;
  }
  header.header-fix .main-menu .item {
    width: 20%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header.header-fix .main-menu .item .item__name {
    font-size: 12px;
    text-align: center;
  }
  header .main-menu .item .item__contents {
    top: 54px;
  }
  header .main-menu .item:hover {
    background-color: #2c2a29;
  }
  header .main-menu .item:hover .item__name {
    border-radius: 0px;
  }
  header .sub-menu {
    right: 20px;
  }
  header .main-menu .item .item__contents .contents__menu {
    padding: 0 60px;
  }
  header .main-menu .item .item__contents .contents__menu .inner {
    width: 100%;
  }  
  header .main-menu .item .item__contents .contents__texture {
    padding: 20px;
  }
  .notice .notice-line .inner .inner__left,
  .notice .notice-line .inner .inner__right {
    width: 50% !important;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .notice .notice-line .inner .inner__right {
    justify-content: center !important;
  }
}
@media (max-width: 768px) {
  header {
    position: unset !important;
  }
  header.header-fix {
    position: fixed !important;
  }
  header .desktopGnb {
    display: none;
  }
  header .mobileGnb {
    display: block;
    width: auto;
  }
  header .mobileGnb .top {
    position: relative;
    width: auto;
    padding: 10px 0;
  }  
  header .mobileGnb .top .logo {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }  
  header .mobileGnb .top .open_nav {
    position: absolute;
    top: 25%;
    right: 10px;
  }
  header .mobileGnb .top .open_nav span {
    font-size: 2.550rem;
    color: #333;
  }
  .mobileGnb_wrap {
    position: fixed;
    top:0;
    right: -100%;
    width: 70%;
    height: 100%;
    z-index: 3000;
    background-color: #111;
  }
  .mobileGnb_wrap ul li {
    color: #fff;
  }
  .mobileGnb_wrap ul li .item__name {
    background-color: #111;
    border-bottom: 1px solid #666;
    padding: 20px 0 20px 20px;
  }  
  .mobileGnb_wrap ul li .item__contents .contents__menu > h4 {
    padding: 10px 0;
  }
  .mobileGnb_wrap ul li .item__contents .contents__menu > ul > li {
    background: #000;

  }
  .mobileGnb_wrap ul li .item__contents .contents__menu ul li a {
    color: #fff;
    padding: 10px 0;
    display: block;
  }  
  .mobileGnb_wrap ul li .item__contents .contents__texture {
    display: none;
  }
  .submenu1 > dd {
    display: none;
  }
  .submenu1 > dd.view,
  .submenu2 > dd.view {
    display: block;
  }
  .submenu2 dt {
    background-color: #333;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #111;
  }
  .submenu2 dd {
    display: none;
  }
  .submenu2 dd ul li {
    padding-left: 10px;
    background-color: #666;
    border-bottom: 1px solid #222;
  }
    
  .submenu1 > dd.view .submenu2 {
    display: block;
  }
  .mobileGnb_wrap .mobileGnb_close {
    position: absolute;
    top: 10px;
    left: -50px;
    width: 45px;
    height: 45px;
  }
  .mobileGnb_wrap .mobileGnb_close span {
    font-size: 2.445rem;
    text-align: center;
    color: #fff;
  }
  .badges {
    display: none !important;
  }
  .mobile_dimm {
    background: #000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.8;
    filter: alpha(opaicty=80);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;    
  }
  .inner {
    width: 100%;
  }
  .visual {
    margin-top: 0px !important;
  }
  .visual .inner {
    height: 100vw !important;
  }
  .visual .title {
    width: 75%;
    top: 5% !important;
    left: 15% !important;
  }
  .visual .title img {
    width: 100%;
  }
  .visual .title .btn {
    bottom: -50% !important;
    height: 45px;
    left: 28% !important;
    top: unset !important;
  }
  .visual .cup1.image {
    top: 50%;
    left: 10% !important;
    width: 20%;
  }
  .visual .cup1.text {
    top: 70% !important;
    left: 30% !important;
    width: 20%;
  }
  .visual .cup2.image {
    top: 40%;
    right: 10% !important;
    width: 20%;
  }
  .visual .cup2.text {
    top: 78% !important;
    right: 10% !important;
    width: 20%;
  }      
  .visual .spoon {
    display: none;
  }
  .notice .notice-line .inner {
    display: block !important;
    height: 100% !important;
  }
  .notice .notice-line .bg-left,
  .notice .notice-line .bg-right {
    display: none;
  }    
  .notice .notice-line .inner .inner__left,
  .notice .notice-line .inner .inner__right {
    width: 100% !important;
    justify-content: center !important;
  }
  .notice .notice-line .inner .inner__left h2 {
    width: 18%;
    font-size: 14px !important;
  }
  .notice .promotion .swiper-slide {
    height: 520px !important;
  }  
  .notice .promotion .swiper-slide .promotion-text {
    font-size: 1.125rem !important;
  }
  .notice .notice-line .inner .inner__left .swiper-slide a {
    font-size: 14px;
  }
  .notice .notice-line .inner .inner__right .toggle-promotion {
    width: 42px !important;
  }
  .rewards .inner {
    height: 100% !important;
  }
  .rewards .bg-left,
  .rewards .bg-right {
    display: none;
  }
  .rewards .inner {
    background-image: none !important;
    background-color: #d5c798;
    padding: 40px 0;
  }
  .rewards .text-group,
  .rewards .btn-group {
    position: unset !important;
    text-align: center;
  }
  .rewards .text-group {
    padding: 0 20px 20px 20px;
  }
  .rewards .btn-group {
    margin:30px auto 0px;
  }
  .utube .floating {
    display: none;
  }
  .season-product {
    overflow: hidden;
  }
  .season-product img.product {
    width: 50%;
    opacity: 0.5;
    position: absolute;
    top: 20%;
    left: 5%;
  }
  .season-product .inner {
    height: 200px;
  }
  .season-product .text-group {
    text-align: center;
    position: unset !important;
    padding-top: 80px;
  }
  .season-product .text-group .btn {
    margin: 20px auto;
  }  
  .season-product .floating3 {
    display: none;
  }
  .season-product .text-group .description {
    padding: 20px;
  }
  .pick-your-favorite {
    overflow: hidden;
  }
  .pick-your-favorite .text-group {
    width: 100% !important;
    margin-left: 0px !important;
    justify-content: center !important;
  }
  .pick-your-favorite .text-group .description {
    text-align: center !important;
  }
  .pick-your-favorite .text-group .title {
    width: 50%;
  }
  .reserve-coffee {
    overflow: hidden;
  }
  .reserve-coffee .inner {
    padding: 40px 0;
  }
  .reserve-coffee .text-group,
  .reserve-coffee .product {
    position: unset !important;
    text-align: center;
  }
  .reserve-coffee .text-group .description p {
    padding: 0 20px 20px 20px;
  }
  .reserve-coffee .product {
    width: 50%;
    margin: 0px auto;
  }  
  .reserve-coffee .btn {
    margin: 0px auto;
  }
  .find-store {
    display: none;
  }
  .awards {
    display: none;
  }
  footer .inner {
  }
  footer .inner .menu {
    display: block !important;
    margin-bottom: 20px;
  }
  footer .inner .menu li {
    width: 100%;
    text-align:center;
  }
  footer .menu li::before {
    display: none !important;
  }
  footer .btn-group {
    padding: 20px;
    display: block !important;
  }
  footer .btn-group .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .info,
  footer .copyright {
    padding: 20px;
  }
  .back-to-position {
  }
  .show .back-to-position {
  }
}
